<div class="text-center mt-3">
    <h2 *ngIf="">Tìm thấy người phù hợp với bạn</h2>
</div>

<div class="container mt-3">
    <form #form="ngForm" class="form-inline mb-3" autocomplete="off">
        <div class="form-group pr-3">
            <label>Giá từ:</label>
            <input type="number" class="form-control ml-2" style="width: 70px;" name="minAge" 
                >
        </div>
        <div class="form-group pr-3">
            <label>đến:</label>
            <input type="number" class="form-control ml-2" style="width: 70px;" name="maxAge" 
                >
        </div>
        <div class="form-group px-2">
            <label>Hiển thị:</label>
            <select name="gender" style="width: 130px;"  class="form-control ml-1">
                <option>
                </option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Tìm kiếm</button>
        <button class="btn btn-info ml-1" type="submit">Đặt lại</button>
    </form>
</div>

<div class="row">
    <div class="col-3" *ngFor="let book of books">
        <app-book-card [book]="book"></app-book-card>
    </div>
</div>
<!-- <div class="d-flex justify-content-lg-center" *ngIf="pagination != undefined">
    <pagination 
        [boundaryLinks]="false" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChange($event)"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
    </pagination>
</div> -->