<div class="breadcrumb-container d-flex">
    <div class="breadcrumb-body">
        <h1>Order Manage</h1>
        <div class="path">
            <a class="home-breadcrumb" href="/">Home</a>
            <span>/ OrderManage</span>
        </div>
    </div>
</div>
<div class="container-fluid d-flex">
    <div class="row m-auto flex-1">
        <div class="col">
            <tabset class="member-tabset" #orderTabs>
                <tab heading='All' customClass="all-tab">
                    <div class="container mt-3 border-1">
                        <div class="row">
                            <div class="col-8">Shop</div>
                            <div class="col-4">Status</div>
                        </div>
                    </div>
                </tab>
                <tab heading='Processing' customClass="all-tab">
                    <h1>Processing</h1>
                </tab>
                <tab heading='Shipping' customClass="all-tab">
                    <h1>Shipping</h1>
                </tab>
                <tab heading='Completed' customClass="all-tab">
                    <h1>Completed</h1>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-8">Shop</div>
        <div class="col-4">Status</div>
    </div>
</div>