<div class="layout">
    <div class="book-detail-container">
        <!-- <div class="col-8">
            <div class="alert alert-warning" *ngIf="formEditBook.dirty">
                <strong>Chú ý: Thông tin đã được chỉnh sửa. Thông tin chỉnh sửa sẽ mất nếu không được lưu</strong>
            </div>
        </div> -->
        <!-- <form #editForm='ngForm' id='editForm' (ngSubmit)="updateBook()">
            <div class="form-group row">
                <div class="col-sm-2">Các thể loại</div>
                <div class="col-sm-6"> -->
                    <!-- <div hidden>{{this.selectedCategories[0].id}}</div> -->
                    <div>
                        <ng-multiselect-dropdown
                        [placeholder]="'custom placeholder'"
                        [settings]="dropdownSettings"
                        [data]="listCategories"
                        [(ngModel)]="selectedCategories"
                        (onSelect)="onItemSelectCategory($event)"
                        (onSelectAll)="onSelectAllCategory($event)"
                      >
                      </ng-multiselect-dropdown>
                    </div>
                </div>
                      <!-- </div>
                </div>
            </div>
        </form> -->
    </div>